<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avatar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>avatar_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{604,755}</string>
			<key>textureFileName</key>
			<string>avatar.png</string>
			<key>realTextureFileName</key>
			<string>avatar.png</string>
			</dict>
		</dict>
</plist>