<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,147}</string>
                <key>spriteSourceSize</key>
                <string>{189,147}</string>
                <key>textureRect</key>
                <string>{{177,0},{189,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{0,147},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{177,147},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{0,292},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{177,292},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{0,437},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{177,437},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,147}</string>
                <key>spriteSourceSize</key>
                <string>{189,147}</string>
                <key>textureRect</key>
                <string>{{0,582},{189,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{189,582},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{0,729},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{177,729},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{0,874},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,145}</string>
                <key>spriteSourceSize</key>
                <string>{177,145}</string>
                <key>textureRect</key>
                <string>{{177,874},{177,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>itemtz.png</string>
            <key>size</key>
            <string>{366,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a99bfe11f14b0a58d9b8c63c8f6719a7:ec260809c45e28745789450bbda5d9a4:358a968f87ded07f953e1cf1deb32f17$</string>
            <key>textureFileName</key>
            <string>itemtz.png</string>
        </dict>
    </dict>
</plist>
