<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,246},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,246},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,131}</string>
                <key>spriteSourceSize</key>
                <string>{123,131}</string>
                <key>textureRect</key>
                <string>{{260,246},{123,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,131}</string>
                <key>spriteSourceSize</key>
                <string>{123,131}</string>
                <key>textureRect</key>
                <string>{{383,246},{123,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{0,118},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{124,118},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,118}</string>
                <key>spriteSourceSize</key>
                <string>{132,118}</string>
                <key>textureRect</key>
                <string>{{222,0},{132,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,118}</string>
                <key>spriteSourceSize</key>
                <string>{132,118}</string>
                <key>textureRect</key>
                <string>{{354,0},{132,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{248,118},{132,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{380,118},{132,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,134}</string>
                <key>textureRect</key>
                <string>{{0,377},{166,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,134}</string>
                <key>textureRect</key>
                <string>{{166,377},{166,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,115}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,115}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{111,0},{111,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,141}</string>
                <key>spriteSourceSize</key>
                <string>{166,141}</string>
                <key>textureRect</key>
                <string>{{145,514},{166,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,141}</string>
                <key>spriteSourceSize</key>
                <string>{166,141}</string>
                <key>textureRect</key>
                <string>{{311,514},{166,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,137}</string>
                <key>spriteSourceSize</key>
                <string>{145,137}</string>
                <key>textureRect</key>
                <string>{{332,377},{145,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,137}</string>
                <key>spriteSourceSize</key>
                <string>{145,137}</string>
                <key>textureRect</key>
                <string>{{0,514},{145,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{512,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a2ec42fa3f032ffe9351846d5e567f9:78a1c07d9990de6418ce6473a648daea:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
