<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{115,0},{115,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,88}</string>
                <key>textureRect</key>
                <string>{{230,0},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,88}</string>
                <key>textureRect</key>
                <string>{{358,0},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{486,0},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{609,0},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,75}</string>
                <key>spriteSourceSize</key>
                <string>{132,75}</string>
                <key>textureRect</key>
                <string>{{732,0},{132,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,75}</string>
                <key>spriteSourceSize</key>
                <string>{132,75}</string>
                <key>textureRect</key>
                <string>{{864,0},{132,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{126,110}</string>
                <key>textureRect</key>
                <string>{{996,0},{126,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{126,110}</string>
                <key>textureRect</key>
                <string>{{1122,0},{126,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{1248,0},{102,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{1350,0},{102,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{1452,0},{102,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon7_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{1554,0},{102,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{1656,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bdcd08ee09d5f52a0704eb79efdee63:015dd42958d7fb03d32c06ede8a9242d:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
