<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,176}</string>
                <key>spriteSourceSize</key>
                <string>{192,176}</string>
                <key>textureRect</key>
                <string>{{0,364},{192,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,177}</string>
                <key>spriteSourceSize</key>
                <string>{196,177}</string>
                <key>textureRect</key>
                <string>{{192,364},{196,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,198}</string>
                <key>spriteSourceSize</key>
                <string>{187,198}</string>
                <key>textureRect</key>
                <string>{{184,166},{187,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,161}</string>
                <key>spriteSourceSize</key>
                <string>{138,161}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{277,0},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,166}</string>
                <key>spriteSourceSize</key>
                <string>{139,166}</string>
                <key>textureRect</key>
                <string>{{138,0},{139,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,185}</string>
                <key>textureRect</key>
                <string>{{0,166},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{432,541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b007ce0686b6978330f60955d51086c:ba8c056dbeaa6e61b9097c27ae3eb641:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
