<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,235}</string>
                <key>spriteSourceSize</key>
                <string>{269,235}</string>
                <key>textureRect</key>
                <string>{{0,1388},{269,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_0_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,235}</string>
                <key>spriteSourceSize</key>
                <string>{269,235}</string>
                <key>textureRect</key>
                <string>{{0,1623},{269,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,158}</string>
                <key>spriteSourceSize</key>
                <string>{171,158}</string>
                <key>textureRect</key>
                <string>{{150,448},{171,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10 - blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{274,296},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{0,448},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,158}</string>
                <key>spriteSourceSize</key>
                <string>{171,158}</string>
                <key>textureRect</key>
                <string>{{321,448},{171,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,145}</string>
                <key>spriteSourceSize</key>
                <string>{173,145}</string>
                <key>textureRect</key>
                <string>{{260,0},{173,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,145}</string>
                <key>spriteSourceSize</key>
                <string>{173,145}</string>
                <key>textureRect</key>
                <string>{{0,145},{173,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,151}</string>
                <key>spriteSourceSize</key>
                <string>{148,151}</string>
                <key>textureRect</key>
                <string>{{173,145},{148,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,151}</string>
                <key>spriteSourceSize</key>
                <string>{148,151}</string>
                <key>textureRect</key>
                <string>{{321,145},{148,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,184}</string>
                <key>spriteSourceSize</key>
                <string>{163,184}</string>
                <key>textureRect</key>
                <string>{{0,606},{163,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,184}</string>
                <key>spriteSourceSize</key>
                <string>{163,184}</string>
                <key>textureRect</key>
                <string>{{163,606},{163,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,151}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{0,296},{137,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,151}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{137,296},{137,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,188}</string>
                <key>spriteSourceSize</key>
                <string>{231,188}</string>
                <key>textureRect</key>
                <string>{{0,790},{231,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,188}</string>
                <key>spriteSourceSize</key>
                <string>{231,188}</string>
                <key>textureRect</key>
                <string>{{231,790},{231,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,205}</string>
                <key>spriteSourceSize</key>
                <string>{231,205}</string>
                <key>textureRect</key>
                <string>{{0,978},{231,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,205}</string>
                <key>spriteSourceSize</key>
                <string>{231,205}</string>
                <key>textureRect</key>
                <string>{{231,978},{231,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,205}</string>
                <key>spriteSourceSize</key>
                <string>{231,205}</string>
                <key>textureRect</key>
                <string>{{0,1183},{231,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,205}</string>
                <key>spriteSourceSize</key>
                <string>{231,205}</string>
                <key>textureRect</key>
                <string>{{231,1183},{231,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{492,1858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f45d9b977cffa0378b7d8549d5a610a2:ca9ce7da961b478a0a5d55234a413dff:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
