<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,0},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,288},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,288},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,384},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,384},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,384},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,480},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,480},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,480},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,576},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,576},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,0},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,576},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,672},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,672},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,672},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,768},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,768},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,768},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,864},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,864},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,864},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,960},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,960},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,960},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,1056},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,1056},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,1056},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,1152},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,1152},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,1152},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,96},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,1248},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,1248},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,1248},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,1344},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,1344},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,1344},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,1440},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,1440},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,1440},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,1536},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,96},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,1536},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,1536},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,1632},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,192},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{72,192},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{144,192},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{0,288},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>labai.png</string>
            <key>size</key>
            <string>{216,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47d5a5fba9df5854454b41e144d49c52:b07cfa997612d1880d82d3e45ff8ef8a:30fe3c1e8aec0f1f142a67080107b6c3$</string>
            <key>textureFileName</key>
            <string>labai.png</string>
        </dict>
    </dict>
</plist>
