<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,163}</string>
                <key>spriteSourceSize</key>
                <string>{135,163}</string>
                <key>textureRect</key>
                <string>{{258,0},{135,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,171}</string>
                <key>spriteSourceSize</key>
                <string>{157,171}</string>
                <key>textureRect</key>
                <string>{{173,326},{157,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{0,163},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{129,0},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,170}</string>
                <key>spriteSourceSize</key>
                <string>{173,170}</string>
                <key>textureRect</key>
                <string>{{0,326},{173,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{163,163},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moi.png</string>
            <key>size</key>
            <string>{393,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1138978913c26d70956c2608537699ee:b3e94bf962d53e62d5fd4306989cde08:190d1b046a5e8804da2bed3e800442f1$</string>
            <key>textureFileName</key>
            <string>moi.png</string>
        </dict>
    </dict>
</plist>
