<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,151}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{260,0},{137,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,151}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{397,0},{137,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,184}</string>
                <key>spriteSourceSize</key>
                <string>{163,184}</string>
                <key>textureRect</key>
                <string>{{150,303},{163,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_11_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,184}</string>
                <key>spriteSourceSize</key>
                <string>{163,184}</string>
                <key>textureRect</key>
                <string>{{313,303},{163,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,151}</string>
                <key>spriteSourceSize</key>
                <string>{148,151}</string>
                <key>textureRect</key>
                <string>{{808,0},{148,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_12_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,151}</string>
                <key>spriteSourceSize</key>
                <string>{148,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{148,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,185}</string>
                <key>textureRect</key>
                <string>{{517,487},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,185}</string>
                <key>textureRect</key>
                <string>{{701,487},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,145}</string>
                <key>spriteSourceSize</key>
                <string>{173,145}</string>
                <key>textureRect</key>
                <string>{{171,487},{173,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,145}</string>
                <key>spriteSourceSize</key>
                <string>{173,145}</string>
                <key>textureRect</key>
                <string>{{344,487},{173,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,158}</string>
                <key>spriteSourceSize</key>
                <string>{171,158}</string>
                <key>textureRect</key>
                <string>{{802,303},{171,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,158}</string>
                <key>spriteSourceSize</key>
                <string>{171,158}</string>
                <key>textureRect</key>
                <string>{{0,487},{171,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,151}</string>
                <key>spriteSourceSize</key>
                <string>{148,151}</string>
                <key>textureRect</key>
                <string>{{148,151},{148,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,151}</string>
                <key>spriteSourceSize</key>
                <string>{148,151}</string>
                <key>textureRect</key>
                <string>{{296,151},{148,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,184}</string>
                <key>spriteSourceSize</key>
                <string>{163,184}</string>
                <key>textureRect</key>
                <string>{{476,303},{163,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,184}</string>
                <key>spriteSourceSize</key>
                <string>{163,184}</string>
                <key>textureRect</key>
                <string>{{639,303},{163,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,151}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{534,0},{137,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,151}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{671,0},{137,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{444,151},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{594,151},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{744,151},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{0,303},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kcc.png</string>
            <key>size</key>
            <string>{973,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a07f0435fe093c8c737b50b2602bf4b:4c97b2d9a4600a322f4fd00aa815f84d:e2967ccbd5a050397e005e9d9b240326$</string>
            <key>textureFileName</key>
            <string>kcc.png</string>
        </dict>
    </dict>
</plist>
